basemap==1.2.0
csvkit==1.0.3
eurostatapiclient==0.2.4
flatten-json==0.1.6
geocoder==1.38.1
geojson==2.4.1
geopandas==0.4.0
imageio==2.2.0
imagesize==0.7.1
jsonschema==2.6.0
matplotlib==2.2.2
numpy==1.16.3
pandas==0.23.4
py==1.5.2
requests==2.21.0
requests-oauthlib==0.8.0
Shapely==1.6.4.post2
Unidecode==1.0.22



